[submodule "figureactionstore"]
	path = figureactionstore
	url = https://github.com/MarlonBeloMarques/figureactionstore-reactnative.git
[submodule "shareworkenvironments-reactnative"]
	path = shareworkenvironments-reactnative
	url = https://github.com/MarlonBeloMarques/shareworkenvironments-reactnative.git
