[submodule "figureactionstore"]
	path = figureactionstore
	url = https://github.com/MarlonBeloMarques/figureactionstore-reactnative.git
[submodule "shareworkenvironments"]
	path = shareworkenvironments
	url = https://github.com/MarlonBeloMarques/shareworkenvironments-reactnative.git
[submodule "monsterburgerdelivery-reactnative"]
	path = monsterburgerdelivery-reactnative
	url = https://github.com/MarlonBeloMarques/monsterburgerdelivery-reactnative.git
[submodule "freelancerprojects-reactnative"]
	path = freelancerprojects-reactnative
	url = https://github.com/MarlonBeloMarques/freelancerprojects-reactnative.git
[submodule "myroutine-react-native"]
	path = myroutine-react-native
	url = https://github.com/MarlonBeloMarques/myroutine-react-native.git
